@use "./base/mixins.scss";
@use "./base/var.scss";

.user-menu {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.user-menu__list {
  @include mixins.list-reset;
  position: relative;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.user-menu__item {
  position: relative;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 2px;
    height: 14px;
    opacity: 0.1;
    mask-image: url(../img/stack.svg#delimiter);
    background-color: #ffffff;
  }
}

.user-menu__link {
  color: #ffffff;
  display: block;
  text-decoration: none;
  padding: 12px 22px;
  transition: color 0.3s ease;

  &:hover {
    color: var.$base-color;
  }
}

.user-menu__info {
  display: flex;
  align-items: center;
  // flex-grow: 0;
}

.user-menu__job-time {
  margin: 0;
  margin-right: 40px;
}

.user-menu__email {
  margin: 0;
}

.user-menu__email-link {

}
